<!DOCTYPE html>
<html>
    <head>
        <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="~/assets/images/favicon.png" type="">
        <title> Book Haven </title>

        <!-- bootstrap core css -->
        <link rel="stylesheet" type="text/css" href="~/AdminAssets/vendor/bootstrap/css/bootstrap.min.css" />   
        <link rel="stylesheet" href="~/AdminAssets/vendor/fonts/fontawesome/css/fontawesome-all.css">
        <!-- Custom styles for this template -->
        <link href="~/assets/css/style.css" rel="stylesheet" />
        <!-- responsive style -->
    </head>
    <body class="@(ViewContext.RouteData.Values["controller"].ToString().ToLower() == "home" && ViewContext.RouteData.Values["action"].ToString().ToLower() == "index" ? "" : "sub_page")">
        <div class="hero_area">
            <div class="bg-box">
                <img src="~/assets/images/bg.jpg" alt="">
            </div>
            <!-- header section strats -->
            <header class="header_section">
                <div class="container">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <span>
                                Book Haven
                            </span>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""> </span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav  mx-auto ">
                                <li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString().ToLower() == "home" && ViewContext.RouteData.Values["action"].ToString().ToLower() == "index" ? "active" : "")">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString().ToLower() == "home" && ViewContext.RouteData.Values["action"].ToString().ToLower() == "menu" ? "active" : "")">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Menu">Book</a>
                                </li>
                                <li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString().ToLower() == "home" && ViewContext.RouteData.Values["action"].ToString().ToLower() == "about" ? "active" : "")">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                                </li>
                            </ul>
                            <div class="user_option">
                                <a class="user_link" asp-controller="History" asp-action="Index">
                                    <i class="fas fa-history" aria-hidden="true"></i>
                                </a>
                                <a class="user_link" asp-controller="Cart" asp-action="Index">
                                    <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                                </a>
                            <a href="@Url.Action("Logout", "Home")" class="user_link">
                                <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                            </a>

                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <!-- end header section -->
            @RenderSection("SlideOrder", required: false)
        </div>
        <!-- food section -->
        @RenderBody()
        <!-- end food section -->
        <!-- footer section -->
        <footer class="footer_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-col">
                        <div class="footer_contact">
                            <h4>
                                Contact Us
                            </h4>
                            <div class="contact_link_box">
                                <a href="">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span>
                                        Location
                                    </span>
                                </a>
                                <a href="">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>
                                        Call +01 1234567890
                                    </span>
                                </a>
                                <a href="">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span>
                                        demo@gmail.com
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-col">
                        <div class="footer_detail">
                            <a href="" class="footer-logo">
                                Book Haven
                            </a>
                            <p>
                                Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
                            </p>
                            <div class="footer_social">
                                <a href="">
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-col">
                        <h4>
                            Opening Hours
                        </h4>
                        <p>
                            Everyday
                        </p>
                        <p>
                            10.00 Am -10.00 Pm
                        </p>
                    </div>
                </div>
                <div class="footer-info d-none">
                    <p>
                        &copy; <span id="displayYear"></span> All Rights Reserved By
                        <a href="https://html.design/">Free Html Templates</a><br><br>
                        &copy; <span id="displayYear"></span> Distributed By
                        <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
                    </p>
                </div>
            </div>
        </footer>
        <!-- footer section -->
        <!-- jQery -->
        <script src="~/assets/js/jquery-3.4.1.min.js"></script>
        <!-- popper js -->
        <!-- bootstrap js -->
        <script src="~/assets/js/bootstrap.js"></script>
        <!-- owl slider -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <!-- isotope js -->
        <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
        <!-- nice select -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
        <!-- custom js -->
        <script src="~/assets/js/custom.js"></script>
        <!-- Google Map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
        <!-- End Google Map -->
    @await Component.InvokeAsync("Notyf")
    </body>
</html>