@model DoAn.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var total = ViewBag.Total;
    int counter = 1;
    int counter1 = 1;
}

<div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 c">
    <div class="card">
        <div class="card-header p-4">
            <h3 class="card-header">Hoá đơn đã đặt</h3>
            <h5 class="mt-3 ml-4">Khách hàng: @Model.Name</h5>
            <h5 class="mt-3 ml-4">Email: @Model.Email</h5>
            <h5 class="mt-3 ml-4">Password: @Model.Password</h5>
            <h5 class="mt-3 ml-4">Usertype: @Model.UserType</h5>
            @*
            <h5 class="ml-4 mb-0">Mã số hoá đơn: @Model.InvoiceId</h5>
            *@
        </div>
        <div class="table-responsive-sm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">InvoiceID</th>
                        <th class="text-center">Address</th>
                        <th class="text-center">SDT</th>
                        <th class="text-center">Total price</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var invoice in Model.Invoices)
                    {
                        <tr>
                            <td class="text-center">@invoice.InvoiceId</td>
                            <td class="text-center">@invoice.Address</td>
                            <td class="text-center">@invoice.Sdt</td>
                            <td class="text-center ">@invoice.TotalPrice</td>
                            <td class=" text-center">@invoice.Date</td>
                            <td class="text-center">
                                <a asp-controller="invoices" asp-action="Details" asp-route-id="@invoice.InvoiceId" class="btn btn-primary btn-sm">View</a>
                            </td>
                        </tr>
                        counter++;
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a class="btn btn-secondary text-light" asp-action="">Back to list</a>
        </div>
    </div>
</div>