@model IEnumerable<DoAn.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Quản lý Khách Hàng</h3>
            <a asp-action="Create" class="btn btn-primary btn-sm">Create</a>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center">Email</th>
                        <th scope="col" class="text-center">Username</th>
                        <th scope="col" class="text-center">Password</th>
                        <th scope="col" class="text-center">Type</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td scope="col" class="text-center">@item.UserId</td>
                                <td scope="col" class="text-center">@item.Name</td>
                                <td scope="col" class="text-center">@item.Email</td>
                                <td scope="col" class="text-center">@item.Username</td>
                                <td scope="col" class="text-center">@item.Password</td>
                                <td scope="col" class="text-center">@item.UserType</td>
                                <td scope="col" class="text-center">
                                    <a class="btn btn-success btn-tone m-r-5" asp-action="Details" asp-route-id=@item.UserId>View</a>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-action="Edit" asp-route-id=@item.UserId>Edit</a>
                                    
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <pager></pager>
        </div>
    </div>
</div>