@model IEnumerable<DoAn.Models.Invoice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Quản lý Hoá đơn</h4>
            <a asp-action="Create" class="btn btn-primary btn-sm">Create</a>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Invoice ID</th>
                        <th scope="col" class="text-center">Customer</th>
                        <th scope="col" class="text-center">Address</th>
                        <th scope="col" class="text-center">SDT</th>
                        <th scope="col" class="text-center">Total price</th>
                        <th scope="col" class="text-center">Ngày tạo hoá đơn</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                        @foreach(var invoice in Model) 
                        {
                            <tr>
                                <th scope="col" class="text-center">@invoice.InvoiceId</th>
                                <th scope="col" class="text-center">
                                    <a asp-controller="Users" asp-action="Details" asp-route-id=@invoice.UserId>@invoice.User.Name</a>
                                </th>
                                <th scope="col" class="text-center">@invoice.Address</th>
                                <th scope="col" class="text-center">@invoice.Sdt</th>
                                <th scope="col" class="text-center">@invoice.TotalPrice
                                <i class="fas fa-dollar-sign"></i>
                                </th>
                                <th scope="col" class="text-center">@invoice.Date</th>
                                <th scope="col" class="text-center">
                                    <a asp-controller="Invoices" asp-action="Details" asp-route-id=@invoice.InvoiceId class="btn btn-primary btn-sm">View</a>
                                </th>
                            </tr>
                        }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
