@model DoAn.Models.Author

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="offset-xl-1 col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h3 class="card-header p-4 d-flex justify-content-between align-items-center">
            Thông tin tác giả
            <a class="btn btn-secondary" asp-action="">Back to List</a>
        </h3>
        <div class="d-flex px-4 justify-content-center">
            <div class ="author-img mr-4">
                <img class="w-100" src="@Model.ImgPath" />
            </div>
            <div class="ml-4">
                <h2 class="text-dark mb-4 mt-2">@Model.Name</h2>
                <h5 class="mb-4 mt-4">@Model.Description</h5>
            </div>
        </div>
        <div class="card-body">
            <h3>Sách của tác giả</h3>
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">Item</th>
                            <th class="text-center">Image</th>
                            <th class="text-center">Unit Cost</th>
                            <th class="text-center">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var b in Model.Books)
                        {
                            <tr>
                                <td class="text-center">@b.BookId</td>
                                <td scope="col" class="text-center">@b.Name </td>
                                <td class="text-center"><img class=" " src="@b.ImgPath"></td>
                                <td class="text-center">@b.Price</td>
                                <td class="text-center">@b.Quantity</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-5">
                </div>
                <div class="col-lg-4 col-sm-5 ml-auto">
                    <table class="table table-clear">
                        <tbody>
                            <tr>
                                <td class="left"></td>
                                <td class="right"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
