@{
    var book = ViewBag.Book as Book;
    var user = ViewBag.User as User;
}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

</head>

<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Order Books
            </h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form_container">
                    <form action="">
                        <div>
                            <input type="text" class="form-control mb-2" placeholder="Name" value="@user.Name" />
                            <input type="hidden" class="form-control mb-2" name="userID" value="@user.UserId" />
                        </div>
                        <div>
                            <input type="email" class="form-control mb-2" placeholder="Your Email" value="@user.Email" />
                        </div>
                        <div>
                            <input type="text" class="form-control mb-2" placeholder="Phone Number" value="@user.Sdt"/>
                        </div>
                        <div>
                            <input type="text" class="form-control mb-2" placeholder="Adress" value="@user.Address" />
                        </div>
                        <div>
                            <input type="text" class="form-control mb-2 width : 300px" placeholder="Note" />
                        </div>
                        <div class="btn_box">
                            <button class="px-4">
                                Order now @book.Price
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="offset-1 col-md-7">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 1; i <= 5; i++)
                        {
                            <tr>
                                <td>#</td>
                                <td>Book.Name</td>
                                <td>Quantity</td>
                                <td>Book.Price</td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

