@model DoAn.Models.Book

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <div class="card-header p-4">
            <h3>Thông tin Sách</h3>
            <h2 class="text-center">@Model.Name</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center" colspan="2">
                                        <img src="@Model.ImgPath" alt="" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="col" class="text-center">Category</th>
                                    <td class="text-center">
                                        <a asp-controller="Categories" asp-action="Details" asp-route-id=@Model.CategoryId>
                                            @Model.Category.Name
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="text-center">Author</th>
                                    <td class="text-center">
                                        <a asp-controller="Authors" asp-action="Details" asp-route-id=@Model.AuthorId>
                                            @Model.Author.Name
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="text-center">Description</th>
                                    <td class="text-center">@Model.Description</td>
                                </tr>
                                <tr>
                                    <th scope="col" class="text-center">Unit price</th>
                                    <td class="text-center">@Model.Price <i class="fas fa-dollar-sign"></i></td>
                                </tr>
                                <tr>
                                    <th scope="col" class="text-center">Rate</th>
                                    <td class="text-center">
                                        @for(int i = 1; i <= Model.Rate; i++)
                                        {
                                            <i class="fas fa-star text-warning ml-2"></i>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="text-center">Quantity</th>
                                    <td class="text-center">@Model.Quantity</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <h3 class="card-header p-4 d-flex justify-content-between align-items-center">
                                    Tác giả:
                                    <div>
                                        <a asp-controller="Authors" asp-action="Details" asp-route-id=@Model.AuthorId>
                                            @Model.Author.Name
                                        </a>
                                    </div>
                                    <div>
                                        <a class="btn btn-primary" asp-controller="Authors" asp-action="Details" asp-route-id=@Model.AuthorId>View</a>
                                    </div>
                                </h3>
                                <div>
                                    <img src="@Model.Author.ImgPath" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2>Khách hàng đặt sản phẩm</h2>
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">InvoiceID</th>
                                    <th scope="col" class="text-center">UserName</th>
                                    <th scope="col" class="text-center">Unit price</th>
                                    <th scope="col" class="text-center">Quantity</th>
                                    <th scope="col" class="text-center">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cthd in Model.InvoiceDetails)
                                {
                                    <tr>
                                        <th scope="col" class="text-center">
                                            <a asp-controller="Invoices" asp-action="Details" asp-route-id=@cthd.Invoice.InvoiceId>
                                                @cthd.Invoice.InvoiceId
                                            </a>
                                        </th>
                                        <th scope="col" class="text-center">
                                            <a asp-controller="Users" asp-action="Details" asp-route-id=@cthd.Invoice.User.UserId>
                                                @cthd.Invoice.User.Name
                                            </a>
                                        </th>
                                        <td class="text-center">
                                            @cthd.Book.Price
                                            <i class="fas fa-dollar-sign"></i>
                                        </td>
                                        <td class="text-center">@cthd.Quantity</td>
                                        <th scope="col" class="text-center">
                                            @(@cthd.UnitPrice * @cthd.Quantity)
                                            <i class="fas fa-dollar-sign"></i>
                                        </th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <a class="btn btn-secondary mt-4" asp-action="">Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
