@model DoAn.Models.Book

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h3 class="card-header">Chi tiết Sách</h3>
        <div class="card-body">
            
            <table class="table">
                
                <thead>
                    
                    <tr>
                        <th scope="col" class="text-center">Product</th>
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center">Description</th>
                        <th scope="col" class="text-center">Unit price</th>
                        <th scope="col" class="text-center">Author_ID</th>
                        <th scope="col" class="text-center">Category_ID</th>
                        <th scope="col" class="text-center">ISBN</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <img src="@Model.ImgPath" alt="" />
                        </td>
                        <td class="text-center">@Model.Name</td>
                        <td class="text-center">@Model.Description</td>
                        <td class="text-center">@Model.Price <i class="fas fa-dollar-sign"></i></td>
                        <td class="text-center">@Model.AuthorId</td>
                        <td class="text-center">@Model.CategoryId</td>
                        <td class="text-center">@Model.Isbn</td>
                        <td class="text-center">@Model.Status</td>
                        <td class="text-center">@Model.Quantity</td>
                        
                    </tr>
                    <tr>
                       <th scope="col" class="text-left">
                            <a class="btn btn-secondary" asp-action="">Back to List</a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
