@{
    var carts = ViewBag.Cart as List<Cart>;
    decimal totalPrice = 0;
}

@model List<Cart>

@if (carts.Any())
{
    <div class="cart pt-5 pb-5">
        <div class="row">
            <div class="col-md-10 offset-1">
            <h1 class="text-center pb-2">Giỏ hàng</h1>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th>Image</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cart in @carts)
                    {
                        totalPrice += (decimal)cart.Book.Price * cart.Quantity;
                        <tr>
                            <td>#</td>
                            <td>@cart.Book.Name</td>
                            <td>
                                <img src="@cart.Book.ImgPath" />
                            </td>
                            <td>
                                <div class="d-flex align-items-center justify-content-center" >
                                    <form method="post" action="@Url.Action("UpdateQuantity", "Cart")">
                                        <input type="hidden" name="bookId" value="@cart.BookId" />
                                        <input type="hidden" name="userId" value="@cart.UserId" />
                                        <input type="hidden" name="newQuantity" value=@(@cart.Quantity - 1) />
                                        <button type="submit" class="btn bg-warning mr-4">
                                            <i class="fas fa-minus text-white"></i>
                                        </button>
                                    </form>
                                    @cart.Quantity
                                    <form method="post" action="@Url.Action("UpdateQuantity", "Cart")">
                                        <input type="hidden" name="bookId" value="@cart.BookId" />
                                        <input type="hidden" name="userId" value="@cart.UserId" />
                                        <input type="hidden" name="newQuantity" value=@(@cart.Quantity + 1) />
                                        <button class="btn bg-warning ml-4">
                                            <i class="fas fa-plus text-white"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                            <td>@cart.Book.Price
                                <i class="fa fas fa-dollar-sign ml-2"></i>
                            </td>
                            <td>@(@cart.Book.Price * @cart.Quantity)
                                <i class="fa fas fa-dollar-sign ml-2"></i>
                            </td>
                            <td>
                                <form method="post" action="@Url.Action("RemoveItem", "Cart")">
                                    <input type="hidden" name="bookId" value="@cart.BookId" />
                                    <input type="hidden" name="userId" value="@cart.UserId" />
                                    <button type="submit" class="btn bg-warning">
                                        <i class="fa fa-solid fa-trash text-white"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <a asp-action="Order" class="mt-4 mr-4 d-flex align-items-center justify-content-center btn bg-warning px-4 text-dark buy-btn">
                    <p class="m-0 mr-1">Buy now</p>
                    <p id="price" class="m-0">@totalPrice</p>
                    <i class="fa fas fa-dollar-sign ml-2"></i>
                </a>
            </div>
        </div>
        </div>
    </div>
}
else
{
    <h2 class="layout_padding text-center">Your cart is empty</h2>
}



