@model X.PagedList.IPagedList<DoAn.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Thể loại Sách</h3>
            <form asp-action="Index" method="get" class="form-inline">
                <div class="form-group">
                    <label for="searchString" class="sr-only">Search:</label>
                    <input type="text" name="searchString" id="searchString" class="form-control" placeholder="Search" value="@ViewData["CurrentFilter"]" />
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Search</button>
            </form>
            <a asp-action="Create" class="btn btn-primary btn-sm">Create</a>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Category ID</th>
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center">Description</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <th scope="col" class="text-center">@category.CategoryId</th>
                            <th scope="col" class="text-center">@category.Name</th>
                            <th scope="col" class="text-center">@category.Description</th>
                            <th scope="col" class="text-center">
                                <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.CategoryId" class="btn btn-success">View</a>
                                <a asp-controller="Categories" asp-action="Delete" asp-route-id="@category.CategoryId" class="btn btn-danger">Delete</a>
                                <a asp-controller="Categories" asp-action="Edit" asp-route-id="@category.CategoryId" class="btn btn-primary">Edit</a>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="pagination-container">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    @if (Model.PageCount > 1)
                    {
                        <li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = 1, searchString = ViewData["CurrentFilter"] })" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        @if (Model.HasPreviousPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1, searchString = ViewData["CurrentFilter"] })" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                <a class="page-link" href="@Url.Action("Index", new { page = i, searchString = ViewData["CurrentFilter"] })">@i</a>
                            </li>
                        }
                        @if (Model.HasNextPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1, searchString = ViewData["CurrentFilter"] })" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                        <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageCount, searchString = ViewData["CurrentFilter"] })" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
